<div class="container-fluid show-page">
  <div class="container-fluid search-page">
    <div class="col-md-8">
      <div class="row text-right delete-article">
        <%= link_to 'Delete Article', article_path(@article), method: :delete, class:"btn btn-error" %>
      </div>
        <h2><%= @article.title %></h2></br>
        <a href="<%= @article.url %>"><%= @article.url %></a></br></br>
          <div class="page-body">
            <% @article.body.split("==").each do |segment| %>
            <strong><p><%= segment %></p></strong></br></br>
            <% end %>
          </div>
    </div>
      <div class="col-md-4 comments">
          <h5>Thoughts?</h5>
            <%= form_for [@article] do |f| %>
            <p>
              <%= f.label :body, "Come back to reflect" %><br/>
              <%= f.text_area :body, value: "" %>
            </p>
            <p>
              <%= f.submit 'Save' %>
            </p>
            <% end %>
            <% @article.comments.each do |comment| %>
            <p><%= comment.body %></p>
            <% end %>
      </div>
  </div>
</div>
